# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_linux:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Workspace
        uses: actions/checkout@v2
        
      - name: Setup Python Environment
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: PyInstaller Linux
        uses: JackMcKew/pyinstaller-action-linux@0.1.4
        with:
            output: src/dist/linux_x86_64
      
      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: cbcli-linux
          path: src/dist/linux_x86_64
          
  build_windows:
    runs-on: windows-latest

    steps:
      - name: Checkout Workspace
        uses: actions/checkout@v2
        
      - name: Setup Python Environment
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: PyInstaller Windows
        uses: JackMcKew/pyinstaller-action-windows@v0.1.2
        with:
            output: src/dist/win_x86_64
      
      - name: Upload Windows Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: cbcli-winx64
          path: src/dist/win_x86_64

